* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(54, 52, 52);
    color: tan;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 100%;
    display: flex;
    flex-direction: column;
}

header {
    padding: 2em;
    border-bottom: 3px ridge tan;
    background-image: linear-gradient(to right, black, tan);
}

header h2 {
    padding: 1em .5em;
    text-align: center;
    font-size: 2em;
}

main {
    display: flex;
    flex-direction: column;
    margin: auto 0;
}

.container {
    font-weight: bold;
    font-size: 125%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    border: 3px ridge tan;
    border-radius: 10px;
    box-shadow: 2px 2px 15px 2px rgba(65, 64, 64, 0.6);
    padding: 2em;
}

.container p {
    text-align: center;
}

#generate {
    padding: .5em;
    border: 1px solid tan;
    border-radius: 7px;
    background-color: rgb(48, 41, 26);
    color: tan;
    font-weight: bold;
    cursor: pointer;
    transition: all ease-in-out 300ms;
}

#generate:hover {
    color: rgb(48, 41, 26);
    background-color: tan;
}

footer {
    border-top: 3px ridge tan;
    background-image: linear-gradient(to left, black);
    color: tan;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer p {
    padding: 2em 0;
    font-weight: bold;
    font-size: 85%;
}